<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/test2.css">
    <meta charset="utf-8">
    <title>webgame</title>
  </head>
  <body>
    <div class="wrapper">
        <img src="images/logo.png" class="logo">
        <button class="btn return" onclick="location.href='/'">Return</button>
        <h1 class="pagetitle join">Join Room</h1>
        <div class="container">
         <!--ここら辺何とかしてほしい、最終的にはデータベースからルーム名とか引っ張ってくるとは思うけど-->
            <div class="box">
                <div>
                    <div class="black ">データベースから持ってくる</div>
                    <div class="white bo">player数</div>
                    <button class="btn bo">Join</button>
                </div>
              </div>
        </div>

    </div>
  </body>
</html>