<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/test1.css">
    <meta charset="utf-8">
    <title>Do-Mi-Ni-Oh!</title>
  </head>
  <body>
    <div class="wrapper">
        <img src="images/logo.png" class="logo">
        <div class="name">
            <p>▶Type your name</p>
            <input type="text">
        </div>
        <span class="btn message" onclick="location.href='/test2'">Join</span>
    </div>
  </body>
</html>