<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/test2.css">
    <meta charset="utf-8">
    <title>webgame</title>
  </head>
  <body>
    <div class="wrapper">
        <img src="images/logo.png" class="logo">
        <button class="btn return" onclick="location.href='/'">Return</button>
        <div class="container">
          <button class="up btn" onclick="location.href='/test3'">Free Match</button>
          <button class="rank down btn ">Rank Match</button>
          <p class="text">Coming soon…</p>
        </div>
    </div>
  </body>
</html>