<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/test2.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <meta charset="utf-8">
    <title>Do-Mi-Ni-Oh!</title>
  </head>
  <body>
    <div class="wrapper">
        <img src="images/logo.png" class="logo">
        <a href="/test2" class="btn btn--circle btn--circle-d btn--shadow left"><i class="fas fa-arrow-left"></i></a>
        <a href="/" class="btn btn--circle btn--circle-c btn--shadow"><i class="fas fa-arrow-up"></i></a>
        <div class="container">
          <button class="up btn" onclick="location.href='/test4'">Make Room</button>
          <button class="down btn" onclick="location.href='/test5'">Join Room</button>
        </div>
    </div>
  </body>
</html>