<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/test2.css">
    <meta charset="utf-8">
    <title>webgame</title>
  </head>
  <body>
    <div class="wrapper">
        <img src="images/logo.png" class="logo">
        <button class="btn return" onclick="location.href='/'">Return</button>
        <h1 class="pagetitle wait">Wating for players...</h1>
        <div class="container">
            <div class="up black">Room Name</div>
            <div class="up area room">"ルームネーム"</div>
            <div class="down black">Max Players</div>
            <div class="down area room">"プレイヤー数"</div>
        </div>

        <div class="player lists">
            <div class="list1">"プレイヤー１"</div>
            <div class="list2">"プレイヤー２"</div>
            <div class="list3">"プレイヤー３"</div>
            <div class="list4">"プレイヤー４"</div>
        </div>

        <button class="btn start">Start Battle</button>
    </div>
  </body>
</html>