<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/test2.css">
    <meta charset="utf-8">
    <title>webgame</title>
  </head>
  <body>
    <div class="wrapper">
        <img src="images/logo.png" class="logo">
        <button class="btn return" onclick="location.href='/'">Return</button>
        <h1 class="pagetitle">Room making</h1>
        <div class="container">
            <div class="up black">Room Name</div>
            <input type="text" class="room up white">
            <div class="down black">Max Players</div>
            <input type="number" value="1" min="1" max="4" step="1" class="room down white">
            <button class="btn make"  onclick="location.href='/test6'">Make Room</button>
        </div>

    </div>
  </body>
</html>