html{
    height:100%;
}
body{
    height:100%;
    margin: 0px auto;
    padding: 0px;
    background-image:url("../images/img3.png");
    background-size:cover;
    text-align:center;
    font-family: cambria;
    background-repeat: no-repeat;
}

p{
    margin:0;
}

.wrapper{
    margin:10px 400px 0 400px;
    width:1080px;
    height:720px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.3);
    
}

.logo{
    padding-top: 10%;
    width: 60%;
    height: 38%;    
}

.name{
    font-size:40px;
}

input{
    width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 20px;
    border-radius: 4px;
    background-color:#ffffff;
    border: 3px solid ;
}

.btn {
    width: 400px;
    font-size: 40px;
    display: inline-block;
    opacity: 0.8;
    border-radius: 15px;
    text-align: center;
    cursor:pointer;
    background-color:rgb(88, 67, 165);
    border: 5px double #ffffff;
}

.btn:hover{
    opacity: 1;
}