body{
    margin: 0px auto;
    padding: 0px;
    text-align:center;
    font-family: cambria;
}

.wrapper{
    position:absolute;
    width:1080px;
    height:720px;
    background-image: url("../images/img1.png");
    background-color: #faebd7;
    background-size: 1080px 720px;
    background-position: top center;
    background-repeat: no-repeat;
}
p{
    margin: 0;

}
.logo{
    padding-top: 10%;
    width: 50%;
    height: 35%;    
}

.name{
    font-size:40px;
}
input{
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    font-size: 18px;
    border-radius: 4px;
    background-color:#f5dbbb;
    border: 3px solid ;
}
.btn {
    width: 400px;
    font-size: 30px;
    padding: 8px 24px;
    display: inline-block;
    opacity: 0.8;
    border-radius: 15px;
    text-align: center;
    background-color:#a53519;
    cursor:pointer;
  }

.btn:hover{
    opacity:1;
}

